@use '../../../styles/mixins' as *;
@use '../../../styles/placeholders' as *;

@mixin wrapper-override {
  position: sticky;
  top: 0;
  bottom: auto;
  left: 0;

  flex-direction: row;
  gap: var(--spacing-2);
  align-items: center;

  width: fit-content;

  text-align: left;
}

.wrapper {
  @include card-border;
  @include flex(column);

  position: fixed;
  z-index: 20;
  bottom: var(--spacing-3);
  left: var(--spacing-3);

  padding: var(--spacing-1);

  text-align: center;

  background-color: var(--color-card-background);

  &.modal {
    @include wrapper-override;

    margin-bottom: var(--spacing-2);
    padding: var(--spacing-1);
  }

  @include mobile {
    @include wrapper-override;

    justify-content: space-between;
    width: 100%;
  }
}

.buttons-column {
  @include flex(column, $align: center);

  padding-bottom: var(--spacing-1);
  border-bottom: 1px solid var(--color-background-light);

  &.modal {
    flex-direction: row;
    padding-bottom: 0;
    border-bottom: none;
  }

  &.error button {
    background-color: var(--color-error);
  }

  @include mobile {
    flex-direction: row;
    gap: var(--spacing-2);
    padding-bottom: 0;
    border-bottom: none;
  }
}

.link-button {
  display: none;
}
