@use '../../styles/mixins' as *;

.spinner-global {
  @include flex($align: center, $justify: center);

  position: fixed;
  z-index: 20;
  inset: 0;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 0;

    opacity: 0.8;
    background-color: var(--color-background);
  }
}

body.spinner-active {
  touch-action: none;
  user-select: none;
  overflow: hidden;
}
