@use '../../styles/placeholders' as *;
@use '../../styles/mixins' as *;

.error-section {
  @include flex($align: center, $justify: center);

  height: 100vh;
  padding: var(--spacing-2);
}

.wrapper {
  @include card-border;
  @include flex(column, var(--spacing-3), $align: center);

  width: 100%;
  max-width: 500px;
  padding: var(--spacing-4);
  border-radius: var(--border-radius-2);

  text-align: center;
}
