.indicator {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0%;
  height: 2px;

  &.bad {
    width: 25%;
    background-color: red;
  }

  &.medium {
    width: 50%;
    background-color: orange;
  }

  &.good {
    width: 100%;
    background-color: green;
  }
}
