body {
  font-family: var(--font-secondary);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-typography-dark);
  letter-spacing: 0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.04;
  color: var(--color-typography);
}

h3 {
  font-size: 1.3rem;
}
