.fieldset {
  margin-bottom: var(--spacing-2);
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-1) var(--spacing-3);
  border: 1px solid var(--color-grey);
}

.error {
  color: var(--color-error);
}
