@use '../../styles/mixins' as *;

.modal {
  position: fixed;
  z-index: 100;
  inset: 0;

  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(8px);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;

  width: 65vw;
  height: 80vh;
  padding: var(--spacing-4);

  color: var(--color-typography);

  background-color: var(--color-background);

  @include tablet {
    width: 90vw;
    height: 90vh;
  }
}

.heading {
  @include flex($justify: space-between);

  margin-bottom: var(--spacing-2);
  font-size: 1.5rem;
  font-weight: 500;
}

.close-button {
  top: var(--spacing-2);
  right: var(--spacing-2);

  margin-left: auto;
  border-radius: var(--border-radius-2);

  color: inherit;

  background: var(--color-background);

  &:hover {
    background: var(--color-background-light);
  }
}
