@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.details {
  @include transition;
  @include card-border;

  position: sticky;
  z-index: 2;
  top: var(--spacing-2);

  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;

  min-width: 400px;
  height: 80vh;
  border-radius: var(--border-radius-3);

  background-color: var(--color-card-background);

  @include tablet {
    position: fixed;
    z-index: 50;
    inset: var(--spacing-2) var(--spacing-2) var(--spacing-2) var(--spacing-2);

    min-width: auto;
    height: auto;
  }
}
