@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.header {
  padding: var(--spacing-2);
  background-color: var(--color-background-light);
}

.container {
  @include flex(row, var(--spacing-4), $justify: center, $align: center);

  max-width: 1440px;
  margin: auto;
}

.nav {
  @extend %header-block-wrapper;
}

.navLink {
  padding: calc(var(--spacing-1) / 2) var(--spacing-2);
  border-radius: var(--border-radius-2);
  color: var(--color-typography-grey);
  text-decoration: none;

  &.active {
    pointer-events: none;
    color: var(--color-typography);
  }
}

.logo {
  font-family: var(--font-primary);
  font-size: 1.2em;
  color: var(--color-accent);
}
