@use '../../styles/mixins' as *;

.cards-wrapper {
  @include flex(row, $justify: center);

  position: relative;
  flex-wrap: nowrap;
  min-height: 80vh;
  padding: var(--spacing-3);

  @include mobile {
    flex-direction: column;
  }
}
